
body {
    background: #206898;
    font-family: Arial;
}
h1 {
    color: red;
}
/* dEA9pAAMpeXBG084tniK2Lcw4qr6CWzAczHvXmVjI9Gv6CnGBfGhRhC53W5MvM0AAfE9aahJVKUPTmKymiBaf9fjvnUYxAurNyqjHj5yPnjZOziv6jooeYowsyen6M1i5mAEweWMPWNBPFI1izbBW9iVVYYcAVq7ueAocPB6hH0MJiaZ5PMzsWlhk3ovAf4ap7ZLpm7k */
